
<section fxLayout="column" *ngIf="party">
    <div class="party-banner-container" fxLayoutAlign="center center">
        <img *ngIf="party.bannerUrl" [src]="party.bannerUrl" alt="party banner" class="party-banner">
    </div>
    <div style="padding: 24px">
        <h2>{{party.name}}</h2>
    </div>
</section>
<mat-divider></mat-divider>
<section fxLayout="column" style="padding: 12px">
    <a *ngFor="let item of items" [routerLink]="[party?.id!, item.routerLink]">
        <app-sidenav-item [item]="item"></app-sidenav-item>
    </a>
</section>
<mat-divider></mat-divider>
