<footer class="footer-container">
    <div class="footer-divider"></div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <button mat-flat-button>
                <div fxLayoutAlign="center center" fxLayoutGap="8px">
                    <img width="20" height="20" src="assets/img/playstore.svg">
                    <a href="https://play.google.com/store/apps/details?id=com.salazar.cheers" style="font-weight: 600">GOOGLE PLAY</a>
                </div>
            </button>
        </div>
        <div></div>
    </div>
    <mat-divider style="margin: 32px 0"></mat-divider>
    <div fxLayoutAlign="space-between center">
        <div fxLayoutAlign="none center" fxLayoutGap="16px">
            <a href="/terms">
                <span class="mat-label">Terms of Service</span>
            </a>
            <a class="a-pressable-txt" href="/terms">
                <div>
                    Privacy Policy
                </div>
            </a>
            <a class="a-pressable-txt" href="/terms">
                <div>
                    Cookies Policy
                </div>
            </a>
        </div>
        <div>
        </div>
    </div>
    <div class="footer-copyright">
        <span class="mat-body-strong">
            © 2023 Cheers SAS. All rights reserved.
        </span>
    </div>
</footer>