<div fxLayout="row" style="height: 100vh">
    <div fxFlex="50" fxLayoutAlign="center center" fxLayout="column">
        <app-signin></app-signin>
        <div class="create-account" fxLayoutAlign="center">
            <span>New to Cheers? </span>
            <a routerLink="/sign-up" style="margin-left: 8px"><b> Sign Up</b></a>
        </div>
    </div>
    <div fxFlex="50" class="sign-in-container-right" fxLayoutAlign="center center" fxLayout="column">
        <div class="mock-phone">
            <img src="../../../../assets/mock-phone.png"/>
        </div>
        <a href="https://play.google.com/store/apps/details?id=com.salazar.cheers">
            <img alt="Get it on Google Play"
                 src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
                 width="200">
        </a>
    </div>
</div>
