<div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div class="mock-phone">
            <img src="../../../../assets/mock-phone.png"/>
        </div>

        <div fxLayout="column" style="padding: 16px">
            <app-register *ngIf="registerPage; else signIn"></app-register>
            <ng-template #signIn>
                <app-signin></app-signin>
            </ng-template>
            <div class="create-account" fxLayoutAlign="center">
                <span>New to Cheers? </span>
                <a (click)="onRegisterToggle()" style="margin-left: 8px"><b> Sign Up</b></a>
            </div>
        </div>
    </div>
    <a href="https://play.google.com/store/apps/details?id=com.salazar.cheers">
        <img alt="Get it on Google Play"
             src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
             width="200">
    </a>
</div>
