body {
    background-color:  #d6d6d5;
    font-family: 'Open Sans',Arial,sans-serif;
}

header, main, footer {
    padding: 32px
}

.container {
    background-color:  white;
    padding: 5px 20px 0 20px;
    border: none;
    width: 100%;
    max-width: 700px;
    margin: 0 auto
}

.title {
    font-weight:700;
    font-size: 44px;
    line-height: 48px;
}

footer > p {
    line-height:20px;
    color:#6c737f;
    font-size:12px;
    font-weight:400;
    font-family:Roboto,Arial,Helvetica,sans-serif;
    text-align:left;
}

/* Solid border */
hr.solid {
  border-top: 1px solid #bbb;
}