<div fxLayout="row" fxLayoutAlign="none center" [routerLink]="['/chats', room.id]" fxFlexFill
     [ngClass]="router.url.includes(room.id) ? 'room-item--selected' : 'room-item'">
    <img (error)="onImgError($event)" [src]="room.picture" class="avatar--small">
    <div class="user-text" fxLayout="column" style="margin-left: 12px">
        <span class="name">{{room.name}}</span>
        <div>
            <span class="room-status-label">Delivered</span>
            <span class="dot">·</span>
            <span class="room-status-label">{{room.latestMessageTime | relativeTime}}</span>
        </div>
    </div>
</div>
