<main>
    <h2>Orders</h2>
    <table matSort mat-table [dataSource]="dataSource" matSortActive="createTime" matSortDirection="desc">
        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Status</th>
            <td mat-cell *matCellDef="let order">
                <mat-chip-list>
                    <mat-chip> {{order.status == 'requires_payment_method' ? 'Incomplete' : order.status}} </mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell mat-sort-header="createTime" *matHeaderCellDef> Date</th>
            <td mat-cell *matCellDef="let order"> {{order.createTime | date}} </td>
        </ng-container>

        <!-- Party Column -->
        <ng-container matColumnDef="party">
            <th mat-header-cell mat-sort-header="partyId" *matHeaderCellDef> Party</th>
            <td mat-cell *matCellDef="let order"> {{order.partyId}} </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Amount</th>
            <td mat-cell *matCellDef="let order"> {{order.amount / 100 | currency: 'EUR'}} </td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
        </ng-container>

        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> First Name</th>
            <td mat-cell *matCellDef="let order"> {{order.firstName}} </td>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Last Name</th>
            <td mat-cell *matCellDef="let order"> {{order.lastName}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Email</th>
            <td mat-cell *matCellDef="let order"> {{order.email}} </td>
        </ng-container>

        <!-- More Column -->
        <ng-container matColumnDef="more">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let order">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="refundPayment(order.id)">Refund payment</button>
                    <button mat-menu-item (click)="copyOrderID(order.id)">Copy order ID</button>
                    <button mat-menu-item [routerLink]="['/u', order.userId]">View user</button>
                    <button mat-menu-item [routerLink]="['/p', order.partyId]">View party</button>
                    <button mat-menu-item>View payment details</button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!--        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>-->
    </table>
</main>