.chat-message
  display: inline-block
  border-radius: 1.15rem
  line-height: 1.25
  max-width: 75%
  padding: 0.5rem .875rem
  background: #3A3B3C
  word-wrap: break-word

.chat-message--right
  align-content: end