<div *ngIf="post && post.user" fxLayout="column" class="post">
    <div class="post-header" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row center">
            <img (error)="onImgError($event)" [src]="post.user.picture" class="avatar--small"
                 [routerLink]="['/u', post.user.id]">
            <div class="post-header-text" fxLayout="column" fxLayoutAlign="center none">
                <a fxLayout="row" fxLayoutAlign="none center" [routerLink]="['/u', post.user.id]">
                    <span>{{post.user.username}}</span>
                    <img *ngIf="post.user.verified" height="14" src="../../../../assets/ic_verified.png"
                         style="margin: 0 4px" width="14" matTooltip="Verified"/>
                    <span *ngIf="post.drink.name && post.drink.name != 'NONE'"> is drinking {{post.drink.name.toLowerCase()}}</span>
                </a>
                <div *ngIf="post.locationName"> {{post.locationName}}</div>
            </div>
        </div>
        <div fxLayoutAlign="none center">
            <span class="mat-caption">{{post.createTime! | relativeTime}}</span>
            <button mat-icon-button [mat-menu-trigger-for]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="post.isCreator" (click)="delete()">Delete</button>
            <button mat-menu-item>Cancel</button>
        </mat-menu>
    </div>
    <div class="post-body" fxLayout="column" fxLayoutGap="16px">
        <span *ngIf="post.caption.length > 0" class="post-caption">{{post.caption}}</span>
        <img *ngIf="post.photos && post.photos.length > 0" [src]="post.photos[0]"
             class="post-image"/>
    </div>
    <div class="post-footer" fxLayout="column">
        <div class="post-footer-buttons" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayoutAlign="none center">
                <button (click)="onToggleLike()" mat-icon-button>
                    <mat-icon>{{(post.hasLiked) ? 'favorite' : 'favorite_border' }}</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>chat_bubble_outline</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>share_outline</mat-icon>
                </button>
            </div>
            <div *ngIf="post.drunkenness > 0">
                <button mat-icon-button>
                    <mat-icon>water_drop_outline</mat-icon>
                </button>
                <span> {{post.drunkenness}} </span>
            </div>
        </div>
        <div class="post-time">
            <span *ngIf="post.likeCount > 0" class="post-counter"><b>{{post.likeCount}}</b> likes</span>
            <span *ngIf="post.commentCount > 0" class="post-counter"><b>{{post.commentCount}}</b> comments</span>
        </div>
        <div fxLayoutAlign="none center" class="post-comment">
            <textarea aria-label="Add a comment…" placeholder="Add a comment…" class="post-comment-input"
                      autocomplete="off" autocorrect="off" style="height: 18px !important;"
                      [(ngModel)]="comment"></textarea>
            <button mat-button color="primary" [disabled]="comment.length == 0">Post</button>
        </div>
        <div style="margin-bottom: 32px">
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
