<mat-card *ngIf="postResponse.post && postResponse.user" fxLayout="column" class="post">
    <div class="post-header" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row center">
            <img (error)="onImgError($event)" [src]="postResponse.user.picture" class="avatar--small"
                 [routerLink]="['/u', postResponse.user.id]">
            <div class="post-header-text" fxLayout="column" fxLayoutAlign="center none">
                <a fxLayout="row" fxLayoutAlign="none center" [routerLink]="['/u', postResponse.user.id]">
                    <span>{{postResponse.user.username}}</span>
                    <img *ngIf="postResponse.user.verified" height="14" src="../../../../assets/ic_verified.png"
                         style="margin: 0 4px" width="14" matTooltip="Verified"/>
                    <span *ngIf="postResponse.post.drink && postResponse.post.drink != 'NONE'"> is drinking {{postResponse.post.drink.toLowerCase()}}</span>
                </a>
                <div *ngIf="postResponse.post.locationName"> {{postResponse.post.locationName}}</div>
            </div>
        </div>
        <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="postResponse.isCreator" (click)="delete()">Delete</button>
            <button mat-menu-item>Cancel</button>
        </mat-menu>
    </div>
    <div class="post-body" fxLayout="column">
        <span class="post-caption">{{postResponse.post.caption}}</span>
        <img *ngIf="postResponse.post.photos && postResponse.post.photos.length > 0" [src]="postResponse.post.photos[0]"
             class="post-image"/>
    </div>
    <div class="post-footer" fxLayout="column">
        <div class="post-footer-buttons" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayoutAlign="none center">
                <div fxLayoutAlign="none center">
                    <button (click)="onToggleLike()" mat-icon-button>
                        <mat-icon>{{(postResponse.hasLiked) ? 'favorite' : 'favorite_border' }}</mat-icon>
                    </button>
                    <span class="post-counter">{{postResponse.likeCount}}</span>
                </div>
                <div fxLayoutAlign="none center">
                    <button mat-icon-button>
                        <mat-icon>chat_bubble_outline</mat-icon>
                    </button>
                    <span class="post-counter">{{postResponse.commentCount}}</span>
                </div>
                <button mat-icon-button>
                    <mat-icon>share_outline</mat-icon>
                </button>
            </div>
            <div *ngIf="postResponse.post.drunkenness > 0">
                <button mat-icon-button>
                    <mat-icon>water_drop_outline</mat-icon>
                </button>
                <span> {{postResponse.post.drunkenness}} </span>
            </div>
        </div>
        <div class="post-time">
            <span class="mat-caption">{{postResponse.post?.createTime! | relativeTime}}</span>
        </div>
        <div>
            <mat-divider></mat-divider>
        </div>
        <div fxLayoutAlign="none center" class="post-comment">
            <mat-icon>mood_outline</mat-icon>
            <textarea aria-label="Add a comment…" placeholder="Add a comment…" class="post-comment-input"
                      autocomplete="off" autocorrect="off" style="height: 18px !important;"
                      [(ngModel)]="comment"></textarea>
            <button mat-button color="primary" [disabled]="comment.length == 0">Post</button>
        </div>
    </div>
</mat-card>
