<div *ngIf="tickets$ | async as tickets" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <h2>Your Tickets</h2>
    <mat-card *ngFor="let ticket of tickets" class="ticket">
        <h1>{{ticket.name}}</h1>
        <h3>{{ticket.description}}</h3>
        <h3>{{ticket.validated ? "Validated" : "Not validated"}}</h3>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <qr-code [size]="100" [value]="ticket.id"></qr-code>
            <h2>{{ticket.price / 100}} $</h2>
        </div>
    </mat-card>
</div>
