.chat-content-container
    padding: 16px

.chat-body-container
    border-radius: 12px
    margin-top: 16px
    padding: 16px
    height: 100%

.mat-icon-button
    background-color: #2b2b2b
    margin-inline-end: 12px

.chat-gallery-btn
    margin-inline-start: 12px
