<div class="chat-content-container">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="none center">
            <button mat-icon-button>
                <mat-icon>chevron_left</mat-icon>
            </button>
            <div>
                <app-user-chip [routerLink]="['/u', room.members[1]]" [user]="{name: room.name, picture: room.picture}"></app-user-chip>
            </div>
        </div>

        <div>
<!--            <app-user-chip [user]="{name: room.name}"></app-user-chip>-->
        </div>
    </div>

    <mat-card appearance="outlined" class="chat-body-container outline" fxLayout="column" fxLayoutAlign="space-between">
        <div class="chat-body-list" #scrollMe>
            <div fxLayout="column" fxLayoutAlign="center center">
                <img [src]="room.picture ? room.picture : 'assets/default_profile_picture.png' "
                     ngClass="avatar--extra-large" ngClass.lt-md="avatar--medium" ngClass.lt-sm="avatar--medium"/>
                <h2>{{room.name}}</h2>
            </div>
            <div class="messages">
                <div fxLayout="column" fxLayoutGap="8px">
                    <ng-template ngFor let-message [ngForOf]="messages" >
                        <app-chat-message-item [message]="message"></app-chat-message-item>
                    </ng-template>
                </div>
            </div>
        </div>
        <div fxLayout="row" class="chat-footer">
            <input aria-label="Add a comment…" placeholder="Send a chat" class="chat-input"
                      autocomplete="off" [(ngModel)]="text" (keydown.enter)="sendMessage()">
            <button class="outline" mat-icon-button [disabled]="text.length == 0" (click)="sendMessage()" >
                <mat-icon>send</mat-icon>
            </button>
            <button class="chat-gallery-btn outline" mat-icon-button>
                <mat-icon>image_outline</mat-icon>
            </button>
        </div>
    </mat-card>
</div>

