.chat-content-container
    padding: 16px

.chat-body-container
    border-radius: 12px
    margin-top: 16px
    padding: 16px
    height: 100%

.mat-icon-button
    background-color: #2b2b2b
    margin-inline-end: 12px

.chat-gallery-btn
    margin-inline-start: 12px

.chat-input
    background: none
    border: none
    color: white
    display: flex
    flex-grow: 1
    font-size: inherit
    max-height: 80px
    outline: none
    padding: 0
    resize: none
    width: 0
    margin-left: 12px


.chat-footer
    margin-top: 32px