<div class="container" fxLayout="column">
    <div *ngIf="$user | async as user">
        <app-profile-header [user]="user">
        </app-profile-header>
        <div fxLayoutAlign="space-between center">
            <div fxLayoutGap="8px">
                <button (click)="user.followBack = false;user.followers = user.followers - 1; unfollowUser(user.username)" *ngIf="user.followBack" color="primary" mat-button>
                    Unfollow
                </button>
                <button (click)="user.followBack = true;user.followers = user.followers + 1; followUser(user.username)" *ngIf="!user.followBack" color="primary" mat-flat-button>
                    Follow
                </button>
                <button color="primary" mat-flat-button style="border-radius: 12px" (click)="onMessageClick()">
                    Message
                </button>
            </div>
            <button *ngIf="isAdmin" [mat-menu-trigger-for]="adminMenu" mat-icon-button color="primary">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #adminMenu>
                <button mat-menu-item (click)="promoteToBusinessAccount(user.id)" >
                    Promote to Business Account
                </button>
                <button mat-menu-item (click)="verifyUser(user.id)" >
                    Verify
                </button>
            </mat-menu>
        </div>
    </div>

    <mat-tab-group>

        <mat-tab label="Posts">
            <div *ngIf="$posts | async as posts">
                <ng-container *ngFor="let post of posts">
                    <app-post-item [postResponse]="post"></app-post-item>
                </ng-container>
            </div>
        </mat-tab>

        <mat-tab label="Parties" *ngIf="$parties | async as parties">
            <div fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayoutGap="16px">
                <ng-container *ngFor="let party of parties">
                    <app-party-item [party]="party"></app-party-item>
                </ng-container>
            </div>
        </mat-tab>

        <mat-tab label="Tags"> Content 3</mat-tab>

    </mat-tab-group>

</div>
