<div fxLayoutAlign="center center" style="height: 100vh">
    <mat-card appearance="outlined">
        <form (ngSubmit)="onSubmit()" [formGroup]="userForm" fxLayout="column">

            <div class="form-group has-success">
                <label class="control-label">Full Name</label>
                <input class="form-control" formControlName="name" type="text">
            </div>

            <div class="form-group has-success">
                <label class="control-label">Username</label>
                <input class="form-control" formControlName="username" type="text">
            </div>
            <p *ngIf="errorMessage">
                {{errorMessage}}
            </p>

        </form>

        <p>
            By signing up, you agree to our Terms. Learn how we collect, use and share your data in our Data Policy and
            how we use cookies and similar technology in our Cookies Policy.
        </p>

        <button (click)="onSubmit()" color="primary" [disabled]="this.isLoading" mat-flat-button>
            <div fxLayoutAlign="center center" fxLayoutGap="16px">
                <mat-spinner *ngIf="isLoading" [diameter]="16" [strokeWidth]="1"></mat-spinner>
                <span> Register </span>
            </div>
        </button>

    </mat-card>
</div>
