<div class="main" fxLayout="column" fxLayoutAlign="space-between">
    <div class="parties-container" fxLayout="column">
        <header class="party-feed-header">
<!--            <mat-chip-list class="example-chip" >-->
<!--                <mat-chip class="example-box" *ngFor="let chip of chips">-->
<!--                    {{chip}}-->
<!--                </mat-chip>-->
<!--            </mat-chip-list>-->
            <div class="parties-header">
                <button color="primary" mat-flat-button routerLink="/parties/create">Create New Party</button>
            </div>
        </header>


        <section *ngIf="$myParties | async as parties" class="your-parties m0">
            <div fxLayoutAlign="space-between center">
                <h2 class="title">Your parties</h2>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayoutGap="16px">
                <ng-container *ngFor="let party of parties">
                    <app-party-item [party]="party"></app-party-item>
                </ng-container>
            </div>
        </section>
        <section *ngIf="$parties | async as parties">
            <h1 class="mat-h1" style="padding-bottom: 16px">Discover parties</h1>
            <div *ngIf="parties.length == 0" fxLayout="column" fxLayoutAlign="center center">
                <h1> No parties at the moment</h1>
                <h3> Follow people to start seeing parties they share</h3>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayoutGap="16px">
                <ng-container *ngFor="let party of parties">
                    <app-party-item fxFlex="calc(33.33% - 16px)" fxFlex.lt-lg="calc(50% - 16px)" fxFlex.lt-md="calc(100% - 16px)" [party]="party"></app-party-item>
                </ng-container>
            </div>
        </section>
    </div>
</div>
