<div>
    <ngx-dropzone (change)="onSelect($event)" [multiple]="false" accept="image/jpeg,image/jpg,image/png,image/gif"
                  [maxFileSize]="10000000">
        <ngx-dropzone-label>
            <button mat-flat-button type="button">
                Upload Cover Photo
            </button>
        </ngx-dropzone-label>
        <ngx-dropzone-image-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
    </ngx-dropzone>
    <p> Recommended image size: 2160 x 1080px Maximum file size: 10MB Supported image files: JPEG or PNG </p>
</div>
<div>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button color="warn">Delete</button>
</div>
