<div *ngIf="party as party" class="party-banner-blurry-container" >
    <img *ngIf="party.bannerUrl" [src]="party.bannerUrl" alt="party banner" class="party-banner-blurry">
</div>
<div *ngIf="party as party" class="party-container" fxLayout="column">
    <div class="party" fxLayout="column">
        <div class="party-banner-container mat-elevation-z4" fxLayoutAlign="center center">
            <img *ngIf="party.bannerUrl" [src]="party.bannerUrl" alt="party banner" class="party-banner">
        </div>
        <div class="party-header">
            <span class="party-date">{{party.startDate * 1000 | date: 'medium'}}</span>
            <h1 class="party-title"> {{party.name}} </h1>
            <h3> {{party.locationName}}</h3>
            <mat-divider></mat-divider>
            <div class="party-header-buttons" fxLayoutAlign="end" fxLayoutGap="20px">
                <admin-button [isAdmin]="viewer?.moderator == true || viewer?.admin == true" (click)="onTransferClick()">
                    <mat-icon>transfer_within_a_station</mat-icon>
                    <span class="button-span">Transfer</span>
                </admin-button>

                <admin-button [isAdmin]="viewer?.moderator == true || viewer?.admin == true" (click)="onDuplicateClick()">
                    <mat-icon>content_copy</mat-icon>
                    <span class="button-span">Duplicate</span>
                </admin-button>

                <button *ngIf="party.isHost || viewer?.moderator" [routerLink]="['/manage/parties', party.id, 'basicinfo']" mat-flat-button>
                    <mat-icon>edit</mat-icon>
                    <span class="button-span">Edit</span>
                </button>

                <ng-template [ngIf]="party.isNotInterested">
                    <button mat-flat-button (click)="onInterestedClick()">
                        <mat-icon>star_border</mat-icon>
                        <span class="button-span">Interested</span>
                    </button>

                    <!--                        [ngClass]="party.isNotInterested ? 'blue': ''">-->
                    <button (click)="onGoingClick()" mat-flat-button>
                        <mat-icon fontSet="material-icons-outlined">check_circle</mat-icon>
                        <span class="button-span">Going</span>
                    </button>
                </ng-template>

                <button [mat-menu-trigger-for]="watchStatusMenu" *ngIf="!party.isNotInterested" mat-flat-button class="blue">
<!--                    <mat-icon [fontSet]="party.going ? '': 'material-icons-outlined'">check_circle</mat-icon>-->
                    <span class="button-span">{{party.watchStatus}}</span>
                    <mat-icon>expand_more</mat-icon>
                </button>

                <mat-menu #watchStatusMenu="matMenu" class="watch-status-menu" fxLayoutAlign="none none" xPosition="before">
                    <div *ngFor="let status of watchStatusNames" mat-menu-item fxLayoutAlign="space-between center" (click)="onAnswerClick(status)">
                        <span class="mat-body-strong" [ngClass]="(party.watchStatus == status) ? 'color-blue' : ''">{{status}}</span>
                        <mat-radio-button [checked]="party.watchStatus == status"></mat-radio-button>
                    </div>
                </mat-menu>

                <button mat-flat-button fxHide.lt-sm (click)="onInviteClick()">
                    <mat-icon>mail_outline</mat-icon>
                    <span class="button-span">Invite</span>
                </button>
                <button mat-flat-button [matMenuTriggerFor]="menu" fxHide.lt-sm>
                    <mat-icon>share</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="copyLink()">
                        <mat-icon>link</mat-icon>
                        <span>Copy Link</span>
                    </button>
<!--                    <button mat-menu-item>Share to a friend</button>-->
<!--                    <button mat-menu-item>Share to a group</button>-->
                </mat-menu>
            </div>
        </div>

        <div class="party-body" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
            <div fxFlex="500px" fxFlex.lt-md="0" fxLayout="column" fxLayoutGap="16px">
                <div>
                    <h2>Details</h2>
                    <div class="party-details" fxLayout="column" fxLayoutGap="8px">
                        <div fxLayoutAlign="none center">
                            <mat-icon class="material-icons-outlined">people</mat-icon>
                            <span class="button-span mat-body-1">{{party.goingCount}} people going</span>
                            <!--                            <span class="button-span">{{party-detail.interestedCount}} people interested</span>-->
                        </div>
                        <div fxLayoutAlign="none center">
                            <mat-icon class="material-icons-outlined">flag_outline</mat-icon>
                            <span class="button-span mat-body-1">Party by {{party.hostName}}</span>
                        </div>
                        <div fxLayoutAlign="none center">
                            <mat-icon class="material-icons-outlined">location_on_outline</mat-icon>
                            <span class="button-span mat-body-1">{{party.locationName}}</span>
                        </div>
                        <div fxLayoutAlign="none center">
                            <mat-icon>public_outline</mat-icon>
                            <span class="button-span mat-body-1">{{party.privacy}}</span>
                        </div>
                    </div>
                </div>

                <div *ngIf="party.description">
                    <h2>Description</h2>
                    <p class="mat-body-1" style="white-space: pre-line; margin-top: 16px;">{{party.description}}</p>
                </div>

            </div>

            <div fxFlex="360" fxFlex.lt-md="0" fxLayout="column" fxLayoutGap="16px">
                <div>
                    <h2>Tickets</h2>
                    <button [routerLink]="['/ticketing', party.id]" color="primary" mat-flat-button
                            style="margin-top: 16px">
                        <mat-icon>confirmation_number_outline</mat-icon>
                        <span class="button-span">Buy tickets</span>
                    </button>
                </div>
                <div style="padding: 0">
                    <a (click)="goToGoogleMapsLink(party.latitude, party.longitude)">
                        <img alt='static Mapbox map of the San Francisco bay area' class="party-location"
                             [src]="'https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s+555555(' + party.longitude + ',' + party.latitude + '/' + party.longitude + ',' + party.latitude + ',13.75,0.00,0.00/1000x600@2x?access_token=pk.eyJ1Ijoic2FsYXphcmJyb2NrIiwiYSI6ImNqd3hxaDBleTFobGQ0Y2sxc3lpdnNwYXMifQ.TgYFgyclmL6pGXXANhnlsw'">
                    </a>
                    <div class="" fxLayout="column">
                        <h2 style="padding: 16px">{{party.locationName}}</h2>
                    </div>
                </div>

                <div>
                    <div fxLayoutAlign="space-between center">
                        <h2>Guest list</h2>
                        <button color="primary" mat-button routerLink="./guestlist">See all</button>
                    </div>
                    <div class="party-counters" fxLayout="row">
                        <div class="party-counter" fxLayout="column" fxLayoutAlign="center center">
                            <span class="party-counter-title">{{party.goingCount}}</span>
                            <span class="party-counter-subtitle">GOING</span>
                        </div>
                        <div class="party-counter" fxLayout="column" fxLayoutAlign="center center">
                            <span class="party-counter-title">{{party.interestedCount}}</span>
                            <span class="party-counter-subtitle">INTERESTED</span>
                        </div>
                        <div class="party-counter" fxLayout="column" fxLayoutAlign="center center">
                            <span class="party-counter-title">{{party.invitedCount}}</span>
                            <span class="party-counter-subtitle">INVITED</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
