<mat-sidenav-container *ngIf="rooms">
    <mat-sidenav fixedInViewport="true" fixedTopGap="56" mode="side" opened>
        <div fxLayoutAlign="space-between center">
            <button mat-icon-button>
                <mat-icon>settings</mat-icon>
            </button>
            <img alt="avatar" height="50" src="../../../assets/cheers-logo.png" width="50">
            <button mat-icon-button>
                <mat-icon>chat_bubble</mat-icon>
            </button>
        </div>
        <mat-list role="list">
            <div *ngFor="let room of rooms" fxLayout="column">
                <app-room-item [room]="room" (click)="setRoom(room.id)"></app-room-item>
            </div>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content *ngIf="room">
        <app-chat-content [room]="room"></app-chat-content>
    </mat-sidenav-content>
</mat-sidenav-container>
